!!!5
html
  head
    title= title
    link(rel='stylesheet', href='css/style.css')
    script(type="text/javascript",src="js/pickuploot.js")
  body
    header
      .right
        - if (user)
          .x logged as #{user.username}
          .x
            a(href="/logout") (Logout)
          .up
            block side
        - else
          a(href="/auth/github") Login with GitHub
      h1
        a(href="/") #{title}
    .container
      - if (message.length)
        .message #{message}
      - if (error.length)
        .error #{error}
      .content
        block content
    footer
      p node / express / jade / passport / canvas /&nbsp;
        a(href="https://github.com/mose/pickuploot") source code on github
