!!!5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      .right
        - if (user)
          .x logged as #{user.username}
          .x
            a(href="/logout") (Logout)
          .up
            block side
        - else
          a(href="/auth/github") Login with GitHub
      h1
        a(href="/") #{title}
    .container
      - if (message)
        .alert #{message}
      - if (error)
        .alert #{error}
      .content
        block content
    footer
      p node / express / jade / stylus / passport
