!!!5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1 #{title}
      .right
        - if (user)
          You are #{user.name}
        - else
          a(href="/auth/github") Login with GitHub
    nav
      block side
    .container
      - if (message)
        .alert #{message}
      - if (error)
        .alert #{error}
      .content
        block content
    footer
      p node / express / jade / stylus / passport
